
<div id="moviesrelated" class="tab" style="display: block;">
  <div class="row">
    <h3>Movies Similar To</h3>
    <h2>{{movie.title}}</h2>
    <div class="topbar-filter">
      <p>Found <span>12 movies</span> in total</p>
      <label>Sort by:</label>
      <select>
        <option value="popularity">Popularity Descending</option>
        <option value="popularity">Popularity Ascending</option>
        <option value="rating">Rating Descending</option>
        <option value="rating">Rating Ascending</option>
        <option value="date">Release date Descending</option>
        <option value="date">Release date Ascending</option>
      </select>
    </div>
    <div class="movie-item-style-2" *ngFor="let movie of similarMovies">
      <img src="https://image.tmdb.org/t/p/w154/{{movie.poster_path}}" alt="">
      <div class="mv-item-infor">
        <h6><a href="#">{{movie.title}} <span>(2012)</span></a></h6>
        <p class="rate"><i class="ion-android-star"></i><span>{{movie.vote_average}}</span> /10</p>
        <p class="describe">{{movie.overview}}...</p>
        <p class="run-time"> <span>Release: {{movie.release_date}}</span>  <span><a href="#">  more . . . </a></span></p>
      </div>
    </div>

    <div class="topbar-filter">
      <label>Movies per page:</label>
      <select>
        <option value="range">5 Movies</option>
        <option value="saab">10 Movies</option>
      </select>
      <div class="pagination2">
        <span>Page 1 of 2:</span>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="ion-arrow-right-b"></i></a>
      </div>
    </div>
  </div>
</div>
