
<div class="hero mv-single-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
      </div>
    </div>
  </div>
</div>
<div class="page-single movie-single movie_single">
  <div class="container">
    <div class="row ipad-width2">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="movie-img sticky-sb">
          <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt="">
          <div class="movie-btn">
            <div class="btn-transform transform-vertical red">
              <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
              <div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="movie-single-ct main-content">
          <h1 class="bd-hd">{{movie?.title}} <span>{{movie?.release_date}}</span></h1>
          <div class="movie-tabs">
            <div class="tabs">
              <ul class="tab-links tabs-mv">
                <li routerLinkActive="active"><a [routerLink]="['overview', {id:movieId}]">Overview</a></li>
                <li routerLinkActive="active"><a [routerLink]="['reviews', {id:movieId}]"> Reviews</a></li>
                <li routerLinkActive="active"><a [routerLink]="['cast-crew', {id:movieId}]" href="#cast">  Cast & Crew </a></li>
                <!--<li routerLinkActive="active"><a [routerLink]="['reviews', {id:movieId}]" href="#media"> Media</a></li>-->
                <li routerLinkActive="active"><a [routerLink]="['related', {id:movieId}]" href="#moviesrelated"> Related Movies</a></li>
              </ul>
              <div class="tab-content">

                <router-outlet></router-outlet>
                <!--<app-reviews></app-reviews>-->
            <!--<app-cast></app-cast>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

